* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Playfair Display', serif;
}

:root {
    --black: #000000;
    --soft-white: #fbfbfb;
    --white: #ffffff;
    --soft-gray: #f1f1f1;
}

main {
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
}

main .main--1st-section .picture {
    position: relative;
    width: 95%;
    min-width: 280px;
    max-width: 900px;
    margin: 0 auto;
    height: 200px;
    background-image: url('./assets/imgs/home-picture.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main .main--text-arrows {
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin-right: 8px;
    line-height: 2.3rem;
}

main .text {
    position: absolute;
    z-index: 2;
    text-align: left;
    margin-top: -200px;
    font-weight: bold;
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 1.45rem;
}

main .arrows {
    position: absolute;
    margin-top: -40px;
    z-index: 3;
    align-self: flex-end;
    margin-right: 10px;
    position: relative;
}

.h21 {
    background-color: var(--white);
    padding-right: 5px;
    width: 60px;
}

.h22 {
    background-color: var(--white);
    padding-right: 5px;
    width: 100px;
}

.h23 {
    background-color: var(--white);
    padding-right: 5px;
    width: 70px;
}

.main--shop-store {
    display: flex;
    width: 97%;
    min-width: 280px;
    max-width: 900px;
    margin: 0 auto;
    min-height: 100px;
    flex-wrap: wrap;
    margin-top: 15px;
}

.main--article-bag {
    margin: 0 auto;
    background-color: var(--soft-gray);
    width: 150px;
    height: 210px;
    border-radius: 3px;
    margin-bottom: 15px;
    text-align: center;
}

.main--article-bag .heart-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/heart-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 50px;
    margin-top: 5px;
}

.main--shop-store .main--article-bag .artsy {
    position: absolute;
    width: 111px;
    height: 111px;
    background-image: url('./assets/imgs/artsy-bag.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: -50px;
}

.main--shop-store h3 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.4rem;
    margin-top: 120px;
    margin-bottom: 10px;
}

.main--shop-store .main--article-bag .berkely {
    position: absolute;
    width: 111px;
    height: 111px;
    background-image: url('./assets/imgs/berkely-bag.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: -50px;
}

.main--shop-store .main--article-bag .capucinus {
    position: absolute;
    width: 111px;
    height: 111px;
    background-image: url('./assets/imgs/capucinus.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: -50px;
}

.main--shop-store .main--article-bag .monogram {
    position: absolute;
    width: 111px;
    height: 111px;
    background-image: url('./assets/imgs/monogram-bag.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: -50px;
}

.check--box {
    border-style: solid;
    border-width: 1px;
    width: 70%;
    margin: 0 auto;
    margin-top: 15px;
}

.check--box p {
    padding: 0 10px;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
}