* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Playfair Display', serif;
}

:root {
    --black: #000000;
    --soft-white: #fbfbfb;
    --white: #ffffff;
    --soft-gray: #f1f1f1;
}

main {
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    height: auto;
}

main .main--1st-section .picture {
    position: absolute;
    width: 100%;
    min-width: 280px;
    max-width: 900px;
    z-index: 1;
}

main .main--text-arrows {
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

main .text {
    z-index: 2;
    text-align: left;
    margin-top: 50px;
    font-size: 1.45rem;
    font-weight: bold;
    margin-right: 15px;
    margin-bottom: 15px;
}

main .arrows {
    z-index: 3;
    align-self: flex-end;
    margin-right: 10px;
    position: relative;

}

.h21 {
    background-color: var(--white);
    padding-right: 5px;
    width: 60px;
}

.h22 {
    background-color: var(--white);
    padding-right: 5px;
    width: 100px;
}

.h23 {
    background-color: var(--white);
    padding-right: 5px;
    width: 70px;
}
