header .container .header--profile-button {
    margin-left: 270px;
}

.home {
    margin: 0 80px;
    width: 20px;
}

.search {
    margin: 0 80px;
    width: 20px;
}

.like {
    margin: 0 80px;
    width: 20px;
}

.two {
    margin: 0 80px;
    width: 20px;
}